
<!--<script type="text/javascript" src="/templates/kewei/js/browser.js"></script>-->
    <!--[if lt IE 9]>

    <script>

    (function(){

        var tags = ['header','footer','figure','figcaption','details','summary','hgroup','nav','aside','article','section','mark','abbr','meter','output','progress','time','video','audio','canvas','dialog'];

        for(var i=tags.length - 1;i>-1;i--){ document.createElement(tags[i]);}

    })();

    </script>

    <![endif]-->


		<!--页面头部-->

		<!--页面主体-->
		<div class="container">
              
			<div class="main voucher">
				<div class="job_div">
					<img src="/kewei/images/jobs.png" alt=""/>
				</div>
				<table cellpadding="0" cellspacing="0" class="jobs_tb">
					<tr class="jobs_tr1">
						<td>职位</td>
						<td>工作地点</td>
						<td>薪资</td>
						<td>更新时间</td>
						<td></td>
					</tr>
                   
                         {foreach $arr as $k}
					<tr class="jobs_tr2">
						<td class="colblue"><a href="jobs.html?id={$k['id']}">{$k['name']}</a></td>
						<td>{$k['nickname']}</td>
						<td>{$k['diyname']}</td>
						<td>{$k['createtime']|date="y/m/d H:i:s",###}</td>
						<td class="colblue"><a href="jobs.html?id={$k['id']}"> >> </a></td>
					</tr>
                    {/foreach}
				</table>

				<!--分页-->
				<div class="w100 center">
                    <ul class="pagingBox"></ul>
		         
	            </div>
            	 
	            
                
            	<!--分页--> 
			
              
		</div>
		<!--页面主体-->

		<!--页面底部-->
		 <footer>
			<div class="foot1">
				<div class="main">
					<div class="ewm_div"><img src="/kewei/images/ewm_img.png" alt=""/></div>
					<div class="company">
						<h2>
							<img src="/kewei/images/logo.png" alt=""/>
							北京可为互娱文化科技有限公司
						</h2>
						<p>地址：北京市朝阳区将台路诺金中心写字楼</p>
						<p>电话：010-64376519</p>
					</div>
					<div class="lists">
						<a >
							<img src="/kewei/images/animate1.png" alt=""/>
						</a>
						<a >
							<img src="/kewei/images/animate.png" alt=""/>
						</a>
						<a >
							<img src="/kewei/images/animate2.png" alt=""/>
						</a>
					</div>
					<div class="clr"></div>
				</div>
			</div>
			<div class="foot2">
				<div class="main">
					<p>www.wecanwell.com 2016 &copy; All Rights Reserved 京ICP备16037158号 </p>
					<!--<p>健康游戏公告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>-->
				</div>
			</div>
		</footer>
		<!--页面低部-->

	</div>
	<!--蒙板-->
	<div class="mask hidden"></div>
	<!--蒙板-->

	<!--暂不开放-->
	<div class="not_open hidden">
		<p>对不起</p>
		<p>该功能暂不开放</p>
	</div>
	<!--暂不开放-->
</body>
<script src="/kewei/js/common.js"></script>
<script>
    function Exsit() {

        $.ajax({

            type: 'post',

            dataType: 'json',

            url: '/plugins/kewei/tools/kewei.ashx?action=exit',

            success: function (data) {



                if (data.status == "1") {

                    window.location.href = '/index_kw.html';

                }



            }

        });

    }
    //暂不开放
    $(".js_nouse").click(function () {

        $(".mask,.not_open").show();

    });

    $(".mask").click(function () {

        $(".mask,.not_open").hide();

    });
    //登陆后移到名字上下拉框出现
    $(".name").hover(function () {

        $(".child").show();

    }, function () {

        $(".child").hide();

    });
   
</script>
</html>